<div layout="row" layout-align="center none" flex="100" ng-controller="menuCtrl">
    <span flex="10"></span>
    <nav flex="20">
        <md-content class="md-padding">
            <md-tabs md-dynamic-height md-selected="selectedTab">
                <md-tab ng-repeat="menu in menus" md-on-select="dataLoad(menu.label)">
                    <md-tab-label>
                        <md-tooltip md-direction="top" md-autohide="true">{{menu.tooltip | translate}}</md-tooltip>
                        <md-icon class="material-icons md-36">{{menu.label}}</md-icon>
                    </md-tab-label>
                    <md-tab-body>
                        <ng-include src="menu.address"></ng-include>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-content>
    </nav>

    <main layout="row" flex="60">
        <ng-include src="'views/content/chatArea.html'" layout="row" flex="100"></ng-include>
    </main>
    <span flex="10"></span>
</div>