<div layout="row" ng-controller="menuCtrl">
    <nav flex="30">
    <!--<nav flex="30">-->
        <md-content class="md-padding">
            <md-tabs md-dynamic-height md-selected="selectedTab">
                <md-tab ng-repeat="menu in menus" md-on-select="dataLoad(menu.tooltip)">
                    <md-tab-label>
                        <md-tooltip md-direction="top" md-autohide="true">{{menu.tooltip}}</md-tooltip>
                        <md-icon class="material-icons md-36">{{menu.label}}</md-icon>
                    </md-tab-label>
                    <md-tab-body>
                        <ng-include src="menu.address"></ng-include>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-content>
    </nav>

    <main flex="70">
        <ng-include src="'views/content/chatArea.html'"></ng-include>
    </main>
</div>