/**{
  border: 1px solid black;
}*/

.two{
  background-color:green;
}
.three{
  background-color:blue;
}

body{
  width: 100%;
  height: 100%;
  margin: 0 auto;

  h1{
    text-align: center;
  }
}

.png-icon{
  width: 24px;
  height: 24px;
  margin: 5px auto auto;
  padding: 0;
}

.line-break{
  width: 100%;
  height: 15px;
}

.redIcons{
  color: red !important;
}

.greenIcons{
  color: green !important;
}

.mdRemoveMargin{
  margin: 0 0;
}

md-pagination-wrapper{
  margin: 0 auto;
}

.profilePic{
   width: 64px;
   height: 64px;
   background-repeat: no-repeat no-repeat;
   pointer-events: none;
   cursor: pointer;
 }

.pictureList{
  width: 64px;
  height: 64px;
  background-repeat: no-repeat no-repeat;
  cursor: pointer;
}

.customError{
  opacity: 1;
  margin-top: 5px;
  color: rgb(221,44,0);
  font-size: 12px;
  line-height: 14px;
}

.md-36{
  font-size:36px;
}

.md-12{
  font-size:12px;
}

.addDialog{
  width: 60%;
  height: 50%;
}

.mdCursor{
  cursor: pointer;
}

.md-toolbar-slim{
  font-size: 14px;
  min-height: 16px;
}

.selectedPic, .selectedChat{
  border: 3px solid forestgreen;
}

#vertical-container{
  height: 100%;
  width: 100%;
  position:initial;
}

#canvasMessageContainer{
  position:absolute;
  bottom:13.5%;
  z-index: 2;
}

#canvasMessage{
  border: 2px solid darkslategrey;
  cursor: default;
}




.clear {clear: both}
.from-me {
  position:relative;
  margin: 2px 4px;
  padding:5px 10px;
  color:white;
  background:#0B93F6;
  border-radius:25px;
  float: right;

  &:before {
    content:"";
    position:absolute;
    z-index:-1;
    bottom:-2px;
    right:-7px;
    height:20px;
    border-right:20px solid #0B93F6;
    border-bottom-left-radius: 16px 14px;
    -webkit-transform:translate(0, -2px);
  }

  &:after {
    content:"";
    position:absolute;
    z-index:1;
    bottom:-2px;
    right:-56px;
    width:26px;
    height:20px;
    background:white;
    border-bottom-left-radius: 10px;
    -webkit-transform:translate(-30px, -2px);
  }
}
.from-them {
  position:relative;
  margin: 2px 4px;
  padding:5px 10px;
  background:#E5E5EA;
  border-radius:25px;
  color: black;
  float: left;

  &:before {
    content:"";
    position:absolute;
    z-index:2;
    bottom:-2px;
    left:-7px;
    height:20px;
    border-left:20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform:translate(0, -2px);
  }

  &:after {
    content:"";
    position:absolute;
    z-index:3;
    bottom:-2px;
    left:4px;
    width:26px;
    height:20px;
    background:white;
    border-bottom-right-radius: 10px;
    -webkit-transform:translate(-30px, -2px);
  }
}

.small-text{
  font-size: 10px;
  font-style: italic;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.chat-text{
  margin: 1px 1px;
}

.repeated-item{
  box-sizing: border-box;
  padding-top: 10px;
}

md-virtual-repeat-container{
  border: solid 1px grey;
}

.md-virtual-repeat-container .md-virtual-repeat-offsetter div{
  padding-left: 16px;
}