/**{
  border: 1px solid black;
}*/

body{
  width: 960px;
  margin: 0 auto;

  h1{
    text-align: center;
  }
}

.profilePic{
   width: 64px;
   height: 64px;
   background-repeat: no-repeat no-repeat;
   pointer-events: none;
   cursor: pointer;
 }

.pictureList{
  width: 64px;
  height: 64px;
  background-repeat: no-repeat no-repeat;
  cursor: pointer;
}

.customError{
  opacity: 1;
  margin-top: 5px;
  color: rgb(221,44,0);
  font-size: 12px;
  line-height: 14px;
}

.md-36{
  font-size:36px;
}

.md-12{
  font-size:12px;
}

.addDialog{
  width: 60%;
  height: 50%;
}

.mdCursor{
  cursor: pointer;
}

.md-toolbar-slim{
  font-size: 14px;
  min-height: 16px;
}

.selectedPic, .selectedChat{
  border: 3px solid forestgreen;
}






 #vertical-container {
  height: 400px;
  width: 100%;
   position:initial;
   }

 .repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  padding-top: 10px; }



 md-virtual-repeat-container {
  border: solid 1px grey; }

 .md-virtual-repeat-container .md-virtual-repeat-offsetter div {
  padding-left: 16px; }