<div layout="column" flex="100">
    <!--Chat name and contacts list area-->
    <md-toolbar flex="15">
        <div class="md-toolbar-tools" layout="row">
            <!--Chat name-->
            <h3>{{chatView.chatname}}</h3>

            <!--List of users-->
            <md-list class="md-dense" layout="row" layout-align="start center">
                <md-list-item ng-repeat="contact in chatView.contactList">
                    <md-tooltip md-direction="top" md-autohide="true">{{contact.username}}</md-tooltip>
                    <img ng-src="{{contact.profilePicture}}" class="md-avatar">
                </md-list-item>
            </md-list>

            <span flex></span>

            <!--Add/Remove users-->
            <md-menu ng-show="currentChat && currentChat.groupRoom">
                <md-button class="md-fab md-raised md-mini" ng-mouseenter="$mdMenu.open()">
                    <md-tooltip md-direction="top" md-autohide="true"><span translate>ADD_REMOVE</span></md-tooltip>
                    <md-icon class="md-material">settings</md-icon>
                </md-button>
                <md-menu-content width="2" ng-mouseleave="$mdMenu.close()">
                    <md-menu-item>
                        <md-button class="md-fab md-raised md-mini" ng-click="addChatContact($event)">
                            <md-tooltip md-direction="top" md-autohide="true"><span translate>ADD_CONTACT</span></md-tooltip>
                            <md-icon class="md-material greenIcons">person</md-icon>
                        </md-button>
                        <md-button class="md-fab md-raised md-mini" ng-click="removeChatContact($event)">
                            <md-tooltip md-direction="top" md-autohide="true"><span translate>REMOVE_CONTACT</span></md-tooltip>
                            <md-icon class="md-material redIcons">person</md-icon>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        </div>
    </md-toolbar>





    <!--Chat messages display area-->
    <md-content layout="column" layout-align="center center" flex="75">
        <md-virtual-repeat-container id="vertical-container" flex="100">
            <div md-virtual-repeat="item in infiniteItems" mdVRResize md-start-index="startIndex" class="repeated-item" md-on-demand flex>
                <div class="clear">
                    <div layout="row" layout-align="start center" ng-class="item.user === user._id ? 'from-me' : 'from-them'">
                        <img ng-src="{{item.profilePicture}}" ng-hide="item.user === user._id" class="png-icon">
                        <div layout="column">
                            <p class="small-text" ng-hide="item.user === user._id">{{item.username}}</p>
                            <pre class="chat-text" ng-if="!item.image">{{item.text}}</pre>
                            <img ng-src="{{item.text}}" ng-if="item.image">
                            <p class="small-text" am-time-ago="item.date"></p>
                        </div>
                    </div>
                </div>
            </div>
        </md-virtual-repeat-container>
    </md-content>




    <!--Chat message input area-->
    <div layout="row" layout-align="center center" flex="10">
        <!--Enters drawing mode-->
        <md-button class="md-icon-button" flex="10" ng-click="openCanvas()"  ng-disabled="!currentChat">
            <md-tooltip md-direction="top" md-autohide="true"><span translate>DRAW_MSG</span></md-tooltip>
            <md-icon class="md-material md-36">palette</md-icon>
        </md-button>

        <!--Message input-->
        <md-input-container md-no-float flex="70" class="mdRemoveMargin">
            <label translate>MSG_PLCHLD</label>
            <textarea ng-model="$parent.messages" id="messageInput" class="mdRemoveMargin" name="messageInput" ng-keypress="keypressed($event)" ng-keydown="shiftDown($event)" ng-keyup="shiftUp($event)" ng-disabled="!currentChat || canvasFlag" aria-label="Messages" md-no-resize rows="1" max-rows="3"></textarea>
        </md-input-container>

        <!--Drawing input-->
        <div ng-show="canvasFlag" id="canvasMessageContainer">
            <input id="canvasColor" type="color" ng-change="setColor(ccolor)" ng-model="ccolor">
            <canvas id="canvasMessage" ng-mousedown="startDraw($event)" ng-mousemove="draw($event)" ng-mouseup="stopDraw($event)" ng-mouseleave="stopDraw($event)"></canvas>
        </div>


        <!--Send button-->
        <md-button class="md-raised md-primary" ng-click="broadcastMessage($event)" flex="20"  ng-disabled="!currentChat"><span translate>SEND</span></md-button>
    </div>
</div>