<md-content>
    <div layout="row" layout-align="center center">
        <md-input-container flex="60">
            <label translate>SORTBY</label>
            <md-select ng-model="contacts.sortby" >
                <md-option value="name" ng-click="sortBy('contacts', 'viewname', false)"><span translate>SORTBY_NAME</span></span></md-option>
                <md-option value="nameDesc" ng-click="sortBy('contacts', 'viewname', true)"><span translate>SORTBY_NAME_DESC</span></md-option>
                <md-option value="date" ng-click="sortBy('contacts', 'creationDate', false)"><span translate>SORTBY_DATE</span></md-option>
                <md-option value="dateDesc" ng-click="sortBy('contacts', 'creationDate', true)"><span translate>SORTBY_DATE_DESC</span></md-option>
            </md-select>
        </md-input-container>

        <!--ADD CONTACT-->
        <!--Add button-->
        <md-button ng-click="addContact($event)" flex>
            <md-tooltip md-direction="top" md-autohide="true"><span translate>ADD_CONTACT</span></md-tooltip>
            <md-icon class="material-icons md-24">person_add</md-icon>
        </md-button>
        <!--Add dialog box-->

        <!--REMOVE CONTACTS-->
        <!--Remove button-->
        <md-button ng-hide="remove" ng-click="removeToggle('contacts', $event, true)" flex>
            <md-tooltip md-direction="top" md-autohide="true"><span translate>REMOVE_CONTACT</span></md-tooltip>
            <md-icon class="material-icons md-24">remove_circle</md-icon>
        </md-button>
        <!--Remove done button-->
        <md-button ng-show="remove" ng-click="removeToggle('contacts', $event, false)" flex>
            <md-tooltip md-direction="top" md-autohide="true"><span translate>DONE</span></md-tooltip>
            <md-icon class="material-icons md-24">done</md-icon>
        </md-button>
    </div>

    <md-divider></md-divider>

    <!--CONTACTS-->
    <md-content>
        <md-list class="md-dense">
            <md-list-item ng-repeat="contact in user.contacts" class="noright" ng-show="contact.status !== 0" ng-click="goToChat($event, $index, contact.status)">
                <!--USER INFO-->
                <img ng-src="{{contact.profilePicture}}" class="md-avatar">
                <p>{{contact.viewname}}</p>

                <span flex></span>

                <!--EDIT VIEWNAME-->
                <md-icon class="md-material md-24 md-secondary" ng-click="editViewName($event, $index, contact.status)" ng-hide="remove" aria-label="Edit viewname">edit</md-icon>

                <!--DELETE CONTACT-->
                <md-checkbox class="md-secondary" ng-show="remove" ng-checked="exists($index)" ng-click="toggle($index)" aria-label="Select contact"></md-checkbox>
                <md-icon ng-show="remove" ng-click="removeContact($event, $index)" class="md-material md-24 md-secondary" aria-label="Remove contact">delete</md-icon>

                <!--CONTACT REQUEST MENU-->
                <md-menu class="md-secondary" md-position-mode="target" ng-show="contact.status === 200">
                    <md-button class="md-fab md-warn md-mini" ng-mouseenter="$mdMenu.open()">
                        <md-icon class="md-material" md-menu-origin>new_releases</md-icon>
                    </md-button>
                    <md-menu-content width="2" ng-mouseleave="$mdMenu.close()">
                        <md-menu-item>
                            <md-button class="md-fab md-raised md-mini" ng-click="acceptContactRequest($index)">
                                <md-tooltip md-direction="top" md-autohide="true"><span translate>ACCEPT_REQ</span></md-tooltip>
                                <md-icon class="md-material greenIcons" md-menu-align-target>check</md-icon>
                            </md-button>
                            <md-button class="md-fab md-raised md-mini" ng-click="removeContact($event, $index)">
                                <md-tooltip md-direction="top" md-autohide="true"><span translate>REJECT_REQ</span></md-tooltip>
                                <md-icon class="md-material redIcons" md-menu-align-target>clear</md-icon>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-list-item>
        </md-list>
    </md-content>
</md-content>