<md-content layout="column" layout-wrap>
    <md-button class="md-raised md-block" ng-click="showPics = !showPics" aria-label="Profile Pictures">
        <md-tooltip md-direction="right" md-autohide="true">Select a Profile Picture</md-tooltip>
        <img class="profilePic" ng-src="{{profile.profilePicture}}">
    </md-button>

    <div layout="row" layout-align="center center" layout-wrap ng-show="showPics">
        <div flex="auto" ng-repeat="img in profileImages">
            <img ng-src="{{img}}" class="pictureList" ng-click="selectPic(this)">
        </div>
    </div>


    <md-input-container class="md-block">
        <label>First Name</label>
        <input type="text" name="firstname" ng-model="profile.firstname">
    </md-input-container>

    <md-input-container class="md-block">
        <label>Last Name</label>
        <input type="text" name="lastname" ng-model="profile.lastname">
    </md-input-container>

    <md-input-container class="md-block">
        <label>Username</label>
        <input type="text" name="username" ng-model="profile.username">
    </md-input-container>

    <md-input-container class="md-block">
        <label>Language</label>
        <md-select ng-model="profile.language" placeholder="profile.language">
            <md-option value="en">English</md-option>
            <md-option value="es">Español</md-option>
        </md-select>
    </md-input-container>

    <md-button ng-click="profileUpdate()" class="md-raised md-primary">Apply</md-button>
</md-content>
