<md-content layout="column" layout-align="start center">
    <md-button class="md-raised md-block" ng-click="showPics = !showPics" aria-label="Profile Pictures">
        <md-tooltip md-direction="right" md-autohide="true"><span translate>SEL_PROF_PIC</span></md-tooltip>
        <img class="profilePic" ng-src="{{profile.profilePicture}}">
    </md-button>

    <div layout="row" layout-align="center center" layout-wrap ng-show="showPics">
        <div flex="auto" ng-repeat="img in profileImages">
            <img ng-src="{{img}}" ng-class="{selectedPic: selectedPicture === $index}" class="pictureList" ng-click="selectPic($index)">
        </div>
    </div>

    <div layout="column" layout-align="start start">
        <md-input-container class="mdRemoveMargin">
            <label translate>FIRST_NAME</label>
            <input type="text" name="firstname" ng-model="profile.firstname">
        </md-input-container>

        <md-input-container class="mdRemoveMargin">
            <label translate>LAST_NAME</label>
            <input type="text" name="lastname" ng-model="profile.lastname">
        </md-input-container>

        <md-input-container class="mdRemoveMargin">
            <label translate>USERNAME</label>
            <input type="text" name="username" ng-model="profile.username">
        </md-input-container>

        <md-input-container class="mdRemoveMargin">
            <label translate>LANGUAGE</label>
            <md-select ng-model="profile.language" placeholder="profile.language">
                <md-option value="en">English</md-option>
                <md-option value="es">Español</md-option>
            </md-select>
        </md-input-container>
    </div>

    <span flex></span>

    <md-button ng-click="profileUpdate()" class="md-raised md-primary"><span translate>BTN_APPLY</span></md-button>
</md-content>
